!paper/*

*_cache/
*.RData
*.rdata
*.rds
.DS_Store
.Rhistory
*.log
data/
cache/
normalization-report*
.ipynb_checkpoints/
approvals/
*_ckpt.pth
*.pt
.quarto/
figure/
scratch/
comments/
results/diff_methyl/
results/TCGA_old/
results/old/
results/old2/
website_resources/
